<%= form_for(@channel, html: {autocomplete: 'off', class: 'col l12'}) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="password" style="display:none">
  <div class="row">
    <div class="input-field col l6">
      <%= f.text_field :name, autocomplete: 'off', class: 'validate' %>
      <%= f.label :name %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col l6">
      <%= f.text_field :description, autocomplete: 'off', class: 'validate' %>
      <%= f.label :description %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col l6">
      <%= f.password_field :password, autocomplete: 'off', class: 'validate' %>
      <%= f.label :password %>
    </div>
  </div>

  <div class="row">
    <div class="col l6">
      <%= f.check_box :is_public %>
      <label for="channel_is_public">This is a public channel</label>
    </div>
  </div>
  
  <div class="row">
    <div class="col l6">
      <%= f.button class: "btn waves-effect" %>
      <%= link_to 'Cancel', channels_path, class: 'waves-effect btn-flat' %>
    </div>
  </div>
<% end %>
