<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h2 class="header">Editing: <%= @channel.name %></h2>
      <div class="row">  
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>