<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h2 class="header">My channels</h2>
      <div class="row">  
        <div class="col l12">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Public</th>
                <th></th>
              </tr>
            </thead>
          
            <tbody>
              <% @channels.each do |channel| %>
                <tr>
                  <td><%= channel.name %></td>
                  <td><%= channel.description %></td>
                  <td><%= channel.is_public ? "Public" : "Private" %></td>
                  <td class="fit">
                    <%= link_to 'Show', channel, class: 'btn waves-effect' %>
                    <%#= link_to 'Edit', edit_channel_path(channel), class: 'btn waves-effect' %>
                    <%= link_to 'New reminder', new_channel_reminder_path(channel), class: 'btn waves-effect' %>
                    <%#= link_to 'Delete', channel, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect btn-flat' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="row">  
        <div class="col l12">
          <%= link_to 'New Channel', new_channel_path, class: 'waves-effect btn-large' %>
        </div>
      </div>
    </div>
  </div>
</div>