<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h2 class="header"><%= @channel.name %></h2>
      <div class="row">  
        <div class="col l12">
          <p>
            <%= @channel.description %>
          </p>
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Note</th>
                <th>Start</th>
                <th>End</th>
                <th>Is public</th>
                <th>Repeated</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @channel.reminders.each do |reminder| %>
                <% if reminder.is_public || reminder.user == current_user %>
                  <tr>
                    <td><%= reminder.title %></td>
                    <td><%= reminder.note %></td>
                    <td><%= local_time(reminder.start) %></td>
                    <td><%= local_time(reminder.end) %></td>
                    <td><%= reminder.is_public ? "Public" : "Private" %></td>
                    <td><%= reminder.repeated ? "Repeats" : "Once" %></td>
                    <td class="fit">
                      <%= link_to 'Show', channel_reminder_path(reminder.channel, reminder), class: 'waves-effect btn' %>
                      <%# if reminder.user == current_user || @channel.user == current_user %>
                        <%#= link_to 'Edit', edit_channel_reminder_path(reminder.channel, reminder), class: 'waves-effect btn' %>
                        <%#= link_to 'Delete', channel_reminder_path(reminder.channel, reminder), method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect btn-flat' %>
                      <%# end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="row">  
        <div class="col l12">
          <%= link_to 'New reminder', new_channel_reminder_path(@channel), class: 'waves-effect btn-large' %>
          
          <% if @channel.user == current_user %>
            <%= link_to 'Edit channel', edit_channel_path(@channel), class: 'waves-effect btn' %>
            <%= link_to 'Delete', channel_path(@channel), method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect btn-flat red-text' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>