<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h2 class="header">Edit Account</h2>
      <div class="row">  
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: 'col l12'}) do |f| %>
          <div class="row">
            <div class="input-field col l6">
              <%= devise_error_messages! %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col l6">
              <%= f.text_field :email, class: 'validate' %>
              <%= f.label :email %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col l6">
              <%= f.password_field :password, autocomplete: 'off', class: 'validate' %>
              <%= f.label :password %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col l6">
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'validate' %>
              <%= f.label :password_confirmation %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col l6">
              <%= f.password_field :current_password, autocomplete: 'off', class: 'validate' %>
              <%= f.label :current_password %>
            </div>
          </div>

          <div class="row">
            <div class="col l6">
              <%= f.button "Update", class: "btn waves-effect" %>
              <%= link_to "Back", :back, class: "waves-effect btn-flat" %>
            </div>
          </div>

          <div class="row">
            <div class="col l6">
              <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'waves-effect btn-flat red-text' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>