<%= form_for [@channel, @reminder], html: {autocomplete: 'off', class: 'col l12'} do |f| %>
  <% if @reminder.errors.any? %>
    <div class="row">
      <div class="col l6">
        <div class="card red">
          <div class="card-content white-text">
            <span class="card-title"><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</span>
            <% @reminder.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col l6">
      <%= f.text_field :title, autocomplete: 'off', class: 'validate' %>
      <%= f.label :title %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col l6">
      <%= f.text_field :note, autocomplete: 'off', class: 'validate' %>
      <%= f.label :note %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col l6 datetime">
      <%= f.label :start %><br>
      <%= f.datetime_select :start %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col l6 datetime">
      <%= f.label :end %><br>
      <%= f.datetime_select :end %>
    </div>
  </div>

  <% if @reminder.channel.is_public %>
    <div class="row">
      <div class="col l6">
        <%= f.check_box :is_public %>
        <label for="reminder_is_public">This is a public reminder</label>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col l6">
      <%= f.check_box :repeated %>
      <label for="reminder_repeated">This is a repeating reminder</label>
    </div>
  </div>
  
  <div class="row">
    <div class="col l6">
      <%= f.button class: "btn waves-effect" %>
      <%= link_to 'Cancel', channel_path(@reminder.channel), class: 'waves-effect btn-flat' %>
    </div>
  </div>
<% end %>
