<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h2 class="header">Upcoming reminders</h2>
      <div class="row">  
        <div class="col l12">
          <table>
            <thead>
              <tr>
                <th>Channel</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <!-- <th>Is public</th> -->
                <!-- <th>Repeated</th> -->
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @reminders.each do |reminder| %>
                <% if reminder.is_public || reminder.user == current_user %>
                <tr>
                  <td><%= link_to reminder.channel.name, reminder.channel %></td>
                  <td><%= reminder.title %></td>
                  <td><%= local_time(reminder.start) %></td>
                  <td><%= local_time(reminder.end) %></td>
                  <!-- <td><%= reminder.is_public ? "Public" : "Private" %></td> -->
                  <!-- <td><%= reminder.repeated ? "Repeats" : "Once" %></td> -->
                  <td class="fit">
                    <%= link_to 'Show', channel_reminder_path(reminder.channel, reminder), class: 'btn waves-effect' %>
                    <%#= link_to 'Edit', edit_channel_reminder_path(reminder.channel, reminder), class: 'btn waves-effect' %>
                    <%#= link_to 'Archive', channel_reminder_path(reminder.channel, reminder), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-flat waves-effect' %>
                  </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">  
        <div class="col l12">
          <%= link_to 'New Reminder', channels_path, class: 'btn-large waves-effect' %>
        </div>
      </div>
    </div>
  </div>
</div>