<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h2 class="header"><%= @reminder.title %></h2>
      <div class="row">  
        <div class="col l12">
          <p>
            <%= @reminder.user.email %>
          </p>
          <p>
            <%= @reminder.note %>
          </p>
          <p>
            <%= local_time(@reminder.start) %>
          </p>
          <p>
            <%= local_time(@reminder.end) %>
          </p>
        </div>
      </div>
      <% if @reminder.user == current_user || @reminder.channel.user == current_user %>
        <div class="row">  
          <div class="col l12">
              <%= link_to 'Edit', edit_channel_reminder_path(@reminder.channel, @reminder), class: 'btn waves-effect' %>
              <%= link_to 'Delete', channel_reminder_path(@reminder.channel, @reminder), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-flat waves-effect red-text' %>
          </div>
        </div>
      <% end %>
      <div class="row">  
        <div class="col l12">
          <%= link_to 'Back', channel_path(@reminder.channel), class: 'btn-flat waves-effect' %>
        </div>
      </div>
    </div>
  </div>
</div>