<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h2 class="header">Resend unlock instructions</h2>
      <div class="row">  
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post, class: 'col l12'}) do |f| %>
          <div class="row">
            <div class="input-field col l6">
              <%= devise_error_messages! %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col l6">
              <%= f.text_field :email, class: 'validate' %>
              <%= f.label :email %>
            </div>
          </div>

          <div class="row">
            <div class="col l6">
              <%= f.button "Resend unlock instructions", class: "btn waves-effect" %>
            </div>
          </div>

          <div class="row">
            <div class="col l6">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
