<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h2 class="header">Change your password</h2>
      <div class="row">  
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: 'col l12'}) do |f| %>
          <div class="row">
            <div class="input-field col l6">
              <%= devise_error_messages! %>
            </div>
          </div>
          
          <%= f.hidden_field :reset_password_token %>
          <div class="row">
            <div class="input-field col l6">
              <%= f.password_field :password, autocomplete: 'off', class: 'validate' %>
              <%= f.label :password %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col l6">
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'validate' %>
              <%= f.label :password_confirmation %>
            </div>
          </div>

          <div class="row">
            <div class="col l6">
              <%= f.button class: "btn waves-effect" %>
            </div>
          </div>

          <div class="row">
            <div class="col l6">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
