<div class="bs-docs-section">
  <div class="page-header">
      <div class="row">
      <div class="col-lg-12">
        <h1>Subscribed channels</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th>Channel</th>
            <th>Description</th>
            <th>User</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @subscriptions.each do |subscription| %>
            <tr>
              <td><%= link_to subscription.channel.name, channel_path(subscription.channel) %></td>
              <td><%= subscription.channel.description %></td>
              <td><%= subscription.user.email %></td>
              <td class="fit"><%= link_to 'Unsubscribe', subscription_path(subscription), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-flat waves-effect' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Search', new_subscription_path, class: 'btn-large waves-effect' %>
    </div>
  </div>
</div>