<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h2 class="header">Search channels</h2>
      <div class="row">  
        <form action="?" class="col l12">
          <div class="row">
            <div class="input-field col l12">
              <input type="text" name="search" class="validate">
              <label for="search">Search</label>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col l12">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
          
            <tbody>
              <% @channels.each do |channel| %>
                <tr>
                  <td><%= link_to channel.name, channel %></td>
                  <td><%= channel.description %></td>
                  <td class="fit">
                    <%= form_for @subscription do |f| %>
                      <%= f.text_field :channel_id, value: channel.id, hidden: true %>
                      <%= f.button 'Subscribe', class: 'btn waves-effect' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>