<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h2 class="header">Sign in</h2>
      <div class="row">  
        <div class="col l6">
          <% flash.each do |name, msg| %>
            <div class="card">
              <div class="card-content">
                <p id="flash_#<%= name %>"><%= msg %><span><i class='material-icons right waves-effect' style="cursor:pointer" onclick="$(this).parent().parent().parent().parent().hide()">close</i></span></p>
              </div>
            </div>
          <% end %>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'col l12'}) do |f| %>
          <div class="row">
            <div class="input-field col l6">
              <%= devise_error_messages! %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col l6">
              <%= f.text_field :email, autocomplete: 'off', class: 'validate' %>
              <%= f.label :email %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col l6">
              <%= f.password_field :password, autocomplete: 'off', class: 'validate' %>
              <%= f.label :password %>
            </div>
          </div>
          <div class="row">
            <div class="col l6">
              <%= f.button "Sign in", class: "btn waves-effect" %>
            </div>
          </div>

          <div class="row">
            <div class="col l6">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
