<%= form_for(@ignore_reminder) do |f| %>
  <% if @ignore_reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ignore_reminder.errors.count, "error") %> prohibited this ignore_reminder from being saved:</h2>

      <ul>
      <% @ignore_reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :reminder_id %><br>
    <%= f.text_field :reminder_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
