<h1>Listing ignore_reminders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Reminder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ignore_reminders.each do |ignore_reminder| %>
      <tr>
        <td><%= ignore_reminder.user %></td>
        <td><%= ignore_reminder.reminder %></td>
        <td><%= link_to 'Show', ignore_reminder %></td>
        <td><%= link_to 'Edit', edit_ignore_reminder_path(ignore_reminder) %></td>
        <td><%= link_to 'Destroy', ignore_reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ignore reminder', new_ignore_reminder_path %>
