<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ignore_reminder.user %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @ignore_reminder.reminder %>
</p>

<%= link_to 'Edit', edit_ignore_reminder_path(@ignore_reminder) %> |
<%= link_to 'Back', ignore_reminders_path %>
